<div class="sidebar">
    <div class="main_threads_bar">
        <label for="check_home">
            <div id="home" class="sidebar_icon">
                <img src="../public/images/home.svg" class="icon">
                <a href="/"></a>
                <input type="checkbox" name="" id="check_home" class="check_sidebar">
            </div>
        </label>
        <label for="check_mypage">
            <div id="mypage" class="sidebar_icon">
                <img src="../public/images/mypage.svg" class="icon">
                <a href="/mypage"></a>
                <input type="checkbox" name="" id="check_mypage" class="check_sidebar">
            </div>
        </label>
        <label for="check_lab">
            <div id="lab" class="sidebar_icon">
                <img src="../public/images/lab.svg" class="icon">
                <a href="/lab"></a>
                <input type="checkbox" name="" id="check_lab" class="check_sidebar">
            </div>
        </label>
        <label for="check_DM">
            <div id="lab" class="sidebar_icon">
                <img src="../public/images/dm.svg" class="icon">
                <a href="/dm"></a>
                <input type="checkbox" name="" id="check_DM" class="check_sidebar">
            </div>
        </label>
        <label for="check_manage">
            <div id="manage" class="sidebar_icon">
                <img src="../public/images/manage.svg" class="icon">
                <a href="/manage"></a>
                <input type="checkbox" name="" id="check_manage" class="check_sidebar">
            </div>
        </label>
    </div>
    <div class="sub_threads_bar">
        <div class="sub_threads_header">
            <p>
                <%= threadTitle %>
            </p>
        </div>
        <% for(let [index, s] of Object.entries(subThreads)) { %>
            <label for="check_<%=index%>">
                <div id="sub_thread_<%=index%>">
                    <div class="sub_thread">
                        <p>
                            <%= s.name %>
                        </p>
                        <% try { if(urls !=undefined) { %>
                            <a href=".<%=urls[index]%>"></a>
                            <% } } catch(err) {} %>

                                <input type="radio" name="sub" id="check_<%=index%>" value="<%=s.name%>" class="check_sub_thread" style="display: none;">
                    </div>
                </div>
            </label>
            <% } %>
    </div>
</div>
<div style="display: none;" id="main_thread_name"><%=mainThread%></div> <!--改行しない-->
<div style="display: none;" id="sub_thread_id"><%=index%></div>         <!--改行しない-->

